/* Body reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
}

.game-title {
    font-size: 24px;
    color: #fff;
}


.comment-input, .add-comment-button {
    padding: 5px;
    font-size: 16px;
    margin-left: 10px;
}

.container {
    display: flex;
}

.comments-section {
    margin-top: 2em;
    width: 200px;
    height: 400px; /* Set a fixed height */
    padding: 10px;
    background-color: #f5f5f5;
    border-right: 1px solid #ddd;
    overflow-y: auto; /* Allows scrolling if content exceeds the height */
}


.comment {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #e0e0e0;
    border-radius: 3px;
}

.gamediv {
    flex-grow: 1; /* Takes up remaining horizontal space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 90px); /* Adjusted for spacing under navbar */
    text-align: center;
    margin-bottom: 2em;
}

.cellDiv {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    padding: 10px;
    background-color: #666a6d;
}

.box {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}

.btn1 {
    margin-top: 1em;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #161716;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display:flex;
    justify-content: center;
}

.btn1:hover {
    background-color: #333;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

